*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* contenitore dell'app */
.app-container{
    width: 78%;
    min-width: 500px;
    height: 95vh;
    background-color: white;
    display: flex;
}

i, input, .avatar-profile{
    cursor: pointer;
}
/* sezione contatti */
.avatar-section{
    width: 550px;
    display: flex;
    flex-direction: column;
}

.my-avatar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-contact{
    font-size: 22px;
}

.my-avatar{
    background-color: #EAEAEA;
    border-right: 2px solid rgb(216, 216, 216);
    font-weight: 600;
}

.avatar-icons, .chat-contact{
    color: #B1B1B1;
}

.avatar-icons{
    gap: 10px;
    margin-right: 20px;
    font-size: 22px;
}

.notification{
    font-size: 12px;
    background-color: #8EDAFC;
    padding: 10px 0;
}

.notification-icon{
    background-color: #F2FBFF;
    border-radius: 50%;
    text-align: center;
    padding: 10px 0;
    width: 3rem;
    height: 3rem;
}

.fa-solid{
    font-size: 25px;
}

.notification-messages span{
    font-size: 15px;
    font-weight: 500;
}

.notification-messages a{
    color: gray;
    font-size: 13px;
}

.avatar-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.users{
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}
/* input ricerca */
.searchbar{
    width: 97%;
    margin: 8px auto;
}

#search-background{
    background-color: rgba(235, 232, 232, 0.726);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.hide{
    display: none;
}

.show{
    display:block
}

.avatar-profile:hover{
    background-color:#E9EBEB
}
/* sezione messaggi */
.message-section{
    background-image: url(../img/mine.jpg);
    position: relative;
}

/* chat */
.chat-section{
    height:87%;
    overflow-y: auto;
}

.received-msg{
    margin: 20px 55px;
    background-color: white;
    padding: 15px;
    border-radius: 1rem;
}

.sent-msg{
    margin: 20px 55px;
    background-color: #D5F9BA;
    padding: 15px;
    border-radius: 1rem;
    justify-self: end;
}

.data-msg{
    font-size: 10px;
    margin-left: 40px;
    position: relative;
    top: 10px;
}

.input-message{
    background-color: #F3EDEA;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
}

.dropdown-arrow{
    display:none
}

.msg:hover .dropdown-arrow{
    display: inline;
}

.time, .lastMessage {
    font-size: 11px;
    color: rgb(177, 177, 177);
}

.time {
    font-size: 10px;
    text-align-last: right;
}

/*test*/

.profileImg,
.name {
display: flex;
align-items: center;
}

.time {
margin-left: auto;
margin-right: 25px;
}

.name-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.accesso-chat{
    font-size: 11px;
    color: rgb(177, 177, 177);
}
.name{
    font-weight: 500;
}

