*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* contenitore dell'app */
.app-container{
    width: 80%;
    min-width: 500px;
    height: 95vh;
    background-color: white;
    display: flex;
}

i, input, .avatar-profile{
    cursor: pointer;
}
/* sezione contatti */
.avatar-section{
    display: flex;
    flex-direction: column;
}

.my-avatar, .notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-avatar{
    background-color: #EAEAEA;
}

.avatar-icons, .chat-contact{
    color: #B1B1B1;
}

.notification{
    font-size: 12px;
    background-color: #8EDAFC;
    padding: 10px 0;
}

.notification-icon{
    background-color: #F2FBFF;
    border-radius: 50%;
    text-align: center;
    padding: 7px 0;
    width: 2rem;
    height: 2rem;
}



.avatar-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.users{
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}
/* input ricerca */
.searchbar{
    width: 95%;
    margin: 3px auto;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.hide{
    display: none;
}

.show{
    display:block
}

.avatar-profile:hover{
    background-color:#E9EBEB
}
/* sezione messaggi */
.message-section{
    background-image: url(../img/mine.jpg);
    position: relative;
    /* height: 100%; */
}

/* chat */
.chat-section{
    height:87%;
    overflow-y: auto;
}

.received-msg{
    margin: 20px 55px;
    background-color: white;
    padding: 15px;
    border-radius: 1rem;
}

.sent-msg{
    margin: 20px 55px;
    background-color: #D5F9BA;
    padding: 15px;
    border-radius: 1rem;
    justify-self: end;
}

.data-msg{
    font-size: 10px;
    margin-left: 40px;
    position: relative;
    top: 10px;
}

.input-message{
    background-color: #F3EDEA;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
}

.dropdown-arrow{
    display:none
}

.msg:hover .dropdown-arrow{
    display: inline;
}